{% extends "_base.html" %}
{% block title %}數據分析{% endblock title %}
{% block page_content %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        #mainNav {
            min-height: 3.5rem;
            background-color: rgb(40, 92, 141);
            padding-left: 180px;
            position: fixed;
        }

        #mainNav .nav-link:hover {
            color: rgb(239, 237, 249);
        }

        #mainNav .nav-link {
            color: rgb(7, 7, 9);
        }

        .cnew {
            height: 80px !important;
            padding-top: 15px;
        }

        .col-xl-3 {
            flex: 0 0 21%;
            max-width: 25%;
        }

        .row {
            padding-left: 100px;
        }

        body {
            padding-top: 88px;
        }
    </style>

</head>

<body class="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                href="{{ url_for(endpoint='dashboard') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">DATA ANALYSIS</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for(endpoint='dashboard') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for(endpoint='table') }}">
                    <i class="fa-solid fa-person-running"></i>
                    <span><strong>Interactive Data</strong></span></a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for(endpoint='chart') }}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span><strong>More Analysis</strong></span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Content Row -->
            <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 cnew">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="col mr-2">
                            <div>102-111年傷害罪案量</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">66,183 件</div>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 cnew">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="col mr-2">
                            <div>傷害罪案量佔比第一名罪刑</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">過失傷害罪</div>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="cnew col-xl-3 col-md-6 mb-4 ">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="col mr-2">
                            <div>過失傷害罪平均判刑天數</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> 64 天</div>
                            <div class="row no-gutters align-items-center">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8 col-lg-7 row">

                <!-- Area Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">傷害罪罪刑判決程度</h6>
                    </div>
                    <div class="flourish-embed" data-src="visualisation/12325307">
                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                    </div>
                </div>

                <!-- Area Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">傷害罪歷年分佈</h6>
                    </div>
                    <div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/12324754">
                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                    </div>
                </div>

                <!-- Donut Chart -->
                <!-- <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">前四大判決結果統計</h6>
                        </div>
                        <img src="static/assets/img/前四大.png">
                    </div>
                </div> -->

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">傷害罪所屬類別前五大罪刑判決結果統計</h6>
                    </div>
                    <img src="static/assets/img/前五大.png">
                </div>

            </div>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->

    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Custom scripts for all pages-->
    <script src="static/bootstrap-5.1.3-dist/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/bootstrap-5.1.3-dist/js/demo/chart-area-demo.js"></script>
    <script src="static/bootstrap-5.1.3-dist/js/demo/chart-pie-demo.js"></script>
    <script src="static/bootstrap-5.1.3-dist/js/demo/chart-bar-demo.js"></script>

</body>

{% endblock page_content %}